@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.footer{
    background-color: rgb(34, 34, 34);
    height: 80px;
    color: rgb(220, 216, 216);
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    padding-top: 1em;
    text-align: center;
}